

.custom-board{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.custom_container{
    max-width: 50%;
}
.custom_object{
    display: grid;
    grid-column: 2fr 1fr;
    max-width: 100%;
    font-size: 1.5rem;
}
.canvas_container{
    max-height: 70%;
    margin-bottom: 0px;
}
.additional_cost{
    grid-column: 2/3;
    font-size: 2rem;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.price{
    grid-column: 2/3;
    margin-top: 0px;
}
div{
    border: 3px solid black;
    margin: 2px;
    padding: 1rem;
    background-color: #88292F;
    font-family: "Alegreya", Times, serif;
}

h1{
    text-align: center;
    color: black;
    border: black solid 1px;
    display: block;
    background-color: #9D9171;
    font-family: "Oswald", Arial, Sans-serif;
    
}
h2{
    text-align: center;
    color: black;
    border: 5px solid #88292F;
    font-family: "Oswald", Arial, Sans-serif;
}
h3{
    background-color: #9D9171;
    color: black;
    font-family: "Oswald", Arial, Sans-serif;
    text-align: center;
    font-size: 2rem;
}

footer{
    background-color: #88292F;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
    margin: 0;
}
footer a{
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}
header{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}
#menu{
    background-color: white;
    border: none;
    width: 200px;
    text-align: center;
    height: 150px;
    position: relative;
    right:10px;
}
.menu_item{
    text-align: center;
    color: black;
    font-size: 1.3rem;
}
#menu-options{
    position:absolute;
    top:15%;
    left:13%;
    display:flex;
    flex-direction:column;
    background-color:transparent;
    border:none;
     
}