main {
    text-align: center;
    margin: 1rem;
}

#menu{
    background-color: white;
    border: none;
    background-image: url(img/scroll.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    height: 150px;
    position: relative;
}
nav a{
    width: 20px;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

h1{
    text-align: left;
    color: black;
    margin-left: 3rem;
    
}
h2{
    text-align: center;
    color: black;
    border: 5px solid #88292F;
}
h3{
    background-color: #9D9171;
    color: black;
    font-family: "Oswald", Arial, Sans-serif;
}
div{
    border: 3px solid black;
    margin: 2px;
    padding: 1rem;
    background-color: #88292F;
    font-family: "Alegreya", Times, serif;
}
body{
    background-color: #FFFAFF;
    color: white;
}
