/* ccs for the image carosel */
.slide-container {
    width: 550px;
    height: 550px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    text-align: center;
    font-size: 0px;
    border: none;
 
}
/* width is uqual to sum of all widths of img, height is = 1 img */
.image-container {
    width: 1650px;
    height: 550px;
    position: relative;
    transition: left 2s;
    border: none;
}

.slide-image{
    display: block !important;
    float: left;
    margin: 0px;
    padding: 0px;
    border: none;
}
.button-container{
    top: -50px;
    position: relative;
    border:none;
    background-color: none;
}
.slider-button{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    margin:5px;
}

#slider-image-1:target ~ .image-container{
    left: 0px;
}
#slider-image-2:target ~ .image-container{
    left: -550px;
}
#slider-image-3:target ~ .image-container{
    left: -1100px;
}

/* css for the rest of the page */

main {
    text-align: center;
    margin: 1rem;
}
header{
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
}
#menu{
    background-color: white;
    border: none;
    width: 200px;
    text-align: center;
    height: 150px;
    position: relative;
    right:10px;
}
.menu_item{
    text-align: center;
    color: black;
    font-size: 1.3rem;
}
#menu-options{
    position:absolute;
    top:15%;
    left:13%;
    display:flex;
    flex-direction:column;
    background-color:transparent;
    border:none;
     
}
h1{
    text-align: center;
    color: black;
    border: black solid 1px;
    display: block;
    background-color: #9D9171;
}
h2{
    text-align: center;
    color: black;
    border: 5px solid #88292F;
    font-family: "Alegreya", Times, serif;
}
h3{
    background-color: #9D9171;
    color: black;
    font-family: "Alegreya", Times, serif;
}
p{
    font-family: "Oswald", Arial, Sans-serif;
}
.info{
    border: 3px solid black;
    margin: 2px;
    padding: 1rem;
    background-color: #88292F;
    font-family: "Alegreya", Times, serif;
}
.money{
    background-color: #9D9171;
    color: black;
    font-size: 3rem;
    margin-top: 1rem;
    border: black solid 1px;
    max-width: 100%;
    text-align: center;
}
footer{
    background-color: #88292F;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
}
footer a{
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}