header{
    background-color: rgb(34, 27, 160);
    color: black;
    margin: 0;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
nav{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: black;
}
nav a{
    padding: 1rem;
    margin: auto;
    color:black;
    font-weight: bold;
}
nav a:hover{
    background-color: aliceblue;
}

.templeCard{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
h2{ 
    text-align: center;
}

footer{
    background-color: rgb(34, 27, 160);
    display: flex;
    text-align: center;
    justify-content:center;
    margin: 0;
    margin-top: 1rem;
}

footer p, span{
    padding:15px;
}

button{
    display:none;
}
section{
    border: 1px solid black;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    min-height: 400px;
    font-family: Lato, Helvetica, sans-serif;
}
.label{
    font-weight: bolder;
    font-size: 1rem;
}


