body{
    background-color: #b894d4;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.picture{
    background-color: #00fbd6;
    padding: 0;
    padding-top: 1em;
    max-height: 100%;
}
.allData{
    border-bottom: black solid 1px;
    padding-bottom: 1rem;
}
.dataTable{
    color: black;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 5px;
}
.weather{
    color: black;;
    width: 100%;
    padding-bottom: 1rem;
}
footer{
    background-color: #00fbd6;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-top: 1em;
}
.label{
    text-align: right;
    font-weight: bold;
    padding-right: 1rem;
}
.data{
    padding-left: 1rem;
}
.emoji{
   margin: auto;
   width: 200px;
}
.main{
    width: 100%;
}

@media screen and (min-width: 750px) {
    .allData {
      background-color: #b894d4bb;
      width: 300px;
      height: 350px;
      border: black solid 1px;
      position:absolute;
      top: 6.5rem;
      left: 1rem;
    }
    .weather {
        background-color: #b894d4bb;
        width: 300px;
        height: 250px;
        border: black solid 1px;
        position: absolute;
        top: 600px;
        right: 1rem;
    }
    .emoji img{
        display: none;
    }
    .emoji::before{
        content: '⛅';
        font-size: 2rem;
        margin: auto;
        text-align: center;
    }
    .weather .emoji{
        margin: auto;
        text-align: center;
    }

  }